<div>
    <div>City: {{ city }}</div>
    <div class="today">
        <div>Current weather: {{ current }}</div>
        <div>test1: {{ temp }}</div>
    </div>
    <div class="tommorow">
        <div>Tommorow weather: {{ tommorow.state }}</div>
        <div>Tommorow temp: {{ tommorow.temp }}</div>
    </div>
</div>
